.draggable {
	cursor: pointer;
	background-color: rgb(32, 32, 32);
	width: 55px;
	height: 55px;
	color: white;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 5px;
}

.draggable img {
	width: 100%;
}

.draggable.disabled {
	background-color: rgb(175, 175, 175);
	cursor: not-allowed;
}

.draggable.inStack {
	cursor: default;
}

.draggable .number {
	background-color: #B5127F;
	border-radius: 50%;
	position: absolute;
	top: -10;
	right: -10;
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.draggable.disabled .number {
	display: none;
}

.draggable .delete {
	background-color: #e03838;
	border-radius: 50%;
	position: absolute;
	top: -10;
	right: -10;
	width: 25px;
	height: 25px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	display: none;
}

.draggable:last-child {
	margin-right: 0;
}

.draggable:hover .delete {
	display: flex;
}

#levelComplete,
#endMenu {
	display: none;
}